In [ ]:
x = 5
print(type(x))
int

In [ ]:
x = "Hello World"
print(type(x))
str

In [ ]:
x = 20.5
print(type(x))
float

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))
list

In [ ]:
x = ("apple", "banana", "cherry")
print(type(x))
tuple

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))
dict

In [ ]:
x = True
print(type(x))
bool